<!DOCTYPE html>
<html lang="en" >

<head>
<%- include ('../layout/head.ejs') -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

</head>

<body>
  <div class="container-scroller">
    <%- include ('../layout/header.ejs') -%>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper" style="padding-left: 15px; padding-right: 15px; background-color: #f0f3f6;">
            <div class="row">
              <div class="col-sm-10 offset-sm-1 d-flex stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                      <h4 class="card-title mb-2"></h4>
                    </div>
                    <div>
                      <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/setting">My Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Purchase list</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/account/purchaseList">Company information</a>
                            <a class="dropdown-item" href="/account/creditReportList">Credit report</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/subscriptionList">Subscription</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link active pl-2 pr-2" href="/account/transactions">Coin details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/payList">Payment details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">1:1 Inquiry</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/account/qna/list">List</a>
                            <a class="dropdown-item" href="/info/qnaForm">Ask</a>
                          </div>
                        </li>
                      </ul>
                      <div class="tab-content tab-no-active-fill-tab-content">
                        <div class="tab-pane fade show active">
                          <div class="row">
                            <div class="col-lg-12 grid-margin">
                                      
                                  <p class="card-description">
                                      Total <code><%=model.totalCount %></code >
                                  </p>
                                  <div class="table-responsive bd_pg" >
                                    <table class="table table-bordered">
                                      <!-- <thead>
                                        <tr>
                                          <th>date</th>
                                          <th>company name</th>
                                          <th>point</th>
                                          <th>status</th>
                                        </tr>
                                      </thead> -->
                                      <tbody id="tbd">	                                        
                                          <%         
                                          if (model.contents.length > 0) { %> 
                                              <% for(let i=0; i<model.contents.length; i++) {        
                                          %> 
                                          <tr>   
                                              <th><div class="row"><div class="col-lg-8">
                                                <div class="d-lg-flex align-items-baseline">
                                                  <p class="text-muted"><%= moment.utc(model.contents[i].createdAt).local().format('YYYY-MM-DD HH:mm')%></p>
                                                </div>
                                                <div class="d-lg-flex align-items-baseline">
                                                  <p class="text-dark"><% if (model.contents[i].ppId != '0') { %> <a href='/company/detail/<%=model.contents[i].company_id %>' style="color: #317376;"><%=model.contents[i].name_eng %></a> <% } else { %>-<% }%>
                                                    <% if (model.contents[i].type == 'D') { %>(Detail data) <% } else if (model.contents[i].type == 'C') { %>(Component data) <% } else if (model.contents[i].type == 'A') { %> (All) <% } else if (model.contents[i].type == 'R') { %> (Credit report)  <% } %>
                                                  </p>
                                                </div>
                                                <div class="d-lg-flex align-items-baseline">
                                                  <p class= <% if (model.contents[i].point > 0) { %>"text-success"<% } else { %> "text-danger"<% } %> > <%= model.contents[i].coin%> Coin &nbsp;&nbsp;
                                                    <% if (model.contents[i].status == 2) { %> <label class="badge badge-success" style="color: white;">use</label> <% } else if (model.contents[i].status == 1) { %><label class="badge badge-primary">complete</label><% } else if (model.contents[i].status == 3) { %>
                                                    <label class="badge badge-warning">expired</label> <% } else if (model.contents[i].status == 4) { %><label class="badge badge-danger">requst cancel</label><% } else if (model.contents[i].status == 0) { %>
                                                    <label class="badge badge-info">waiting</label> <% } %>
                                                  </p>
                                                </div>
                                              </div>
                                              </div></th>
                                          </tr>                   
                                          <%  
                                          }
                                          } else {  %> 
                                              <tr>   
                                                  <th colspan="5">No data to display.</th>
                                              </tr> 
                                              <% } %> 	
                                        </tbody>	
                                    </table>
                                    <br>
                                    <% if (model.contents.length != 0) { %>
                                      <div class="col-lg-12" style="text-align:center;">
                                        <ul class="pagination">
                                          <li <%if(model.pageNum == 1){%> class="disabled" <%}else{%> class="direction" <%}%> >
                                              <a <%if(model.pageNum > 1){%> href="javascript:search(1);" <%}%>><i class="fas fa-angle-double-left"></i></a>
                                          </li>
                                          <li <%if(model.pageNum == 1){%> class="disabled" <%}else{%> class="direction" <%}%> >
                                           <a <%if(model.pageNum > 1){%> href="javascript:search(<%=model.pageNum-1%>);" <%}%>>
                                             <i class="fa fa-angle-left"> </i>
                                           </a>
                                         </li>
                                        <% for(var i=model.pnStart; i<=model.pnEnd; i++){ %> <li <%if(i===model.pageNum){%> class="active"
                                            <%}%>><a class="frst_last bubble <% if (i == model.pageNum) { %> this <% } %>" href="javascript:search(<%=i%>);"><%=i%></a></li>
                                          <% } %>
                                          <li <%if(model.pageNum == model.pnTotal){%> class="disabled" <%}else{%> class="direction" <%}%>>
                                              <a <%if(model.pageNum < model.pnTotal){%> href="javascript:search(<%=model.pageNum+1%>);" <%}%> class="waves-effect">
                                                  <i class="fa fa-angle-right"></i>
                                              </a>
                                          </li>
                                          <li <%if(model.pageNum == model.pnTotal){%> class="disabled" <%}else{%> class="direction" <%}%>>
                                              <a <%if(model.pageNum < model.pnTotal){%> href="javascript:search(<%=model.pnTotal%>);" <%}%> class="waves-effect">
                                                  <i class="fas fa-angle-double-right">  </i>
                                              </a>
                                          </li>
                                          <li><p class="card-description">
                                              <code><%=model.pageNum%></code> &nbsp;/ &nbsp;<%=model.pnTotal%>
                                          </p></li>
                                       </ul>
                                      </div>
                                      <% } %> 
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:../../partials/_footer.html -->
          <%- include ('../layout/footer.ejs') -%>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
</div>
<script>

    var oldVal;
    var content = "";
    var options = {
        content: function() {
            return $(this).parent().find('.popover-content').html();
        },
        html: true,
        placement: 'bottom',
    };
                    


    $("document").ready(function() {  
        if (getParameterByName("country_id") != "") {
            $("#country_id").val(getParameterByName("country_id"))
        }

        if (getParameterByName("search_type") != "") {
            $("#search_type").val(getParameterByName("search_type"))
        }

        if (getParameterByName("search_txt") != "") {
            $("#search_txt").val(getParameterByName("search_txt"))
        }

        
        //입력 이벤트
        $("#categoryText").on("propertychange change keyup paste input", function() {
          var currentVal = $(this).val();
          if(currentVal == oldVal) {
              return;
          }
      
          oldVal = currentVal;
          $("#list").empty();

          if (currentVal != '') {
            $.ajax({
              type: "POST",
              url: "/category/getlist",
              dataType: 'json',
              data: { 'query': oldVal },
              success: function (data) {
                  for (var i=0; i<data.data.length; i++) {
                      var query_cate = "|";
                      if (data.data[i].depth == 4) {
                        query_cate += data.data[i].p1_id + "&" + data.data[i].p2_id + "&" + data.data[i].p3_id + "&" + data.data[i].id + "|"; 
                      } else if (data.data[i].depth == 3) {
                        query_cate += data.data[i].p2_id + "&" + data.data[i].p3_id + "&" + data.data[i].id + "&0|"; 
                      } else if (data.data[i].depth == 2) {
                        query_cate += data.data[i].p3_id + "&" + data.data[i].id + "&0&0|"; 
                      } else if (data.data[i].depth == 1) {
                        query_cate += data.data[i].id + "&" + "&0&0&0|"; 
                      }
                        var p1 = (data.data[i].p1_name != undefined) ? data.data[i].p1_name: '';
                        var p2 = (data.data[i].p2_name != undefined) ? data.data[i].p2_name: '';
                        var p3 = (data.data[i].p3_name != undefined) ? data.data[i].p3_name: '';
                        var parents = "";
                        if (p1 != '') parents += (p1 + " > ")
                        if (p2 != '') parents += (p2 + " > ")
                        if (p3 != '') parents += (p3 + " > ")

                        $("#list").append("<li class='list-group-item' onclick='selCategory(\"" + query_cate + "\")'>" + parents + "<b>" +data.data[i].category_name + "<b>" +  "</li>");
                     
                            if(i == data.data.length -1) {
                                $('#categoryText').popover(options);
                            }
                }

                
              },
              error: function (e) {
                  console.log("ERROR : ", e);
              }
          });
        }
      });

    });
    
    function onKeyDown()
    {
        if(event.keyCode == 13){
            search('1');
        }
    }


    function search(num) {
        var search_type = $("#search_type").val();
        var country_id= $("#country_id").val();
        var search_txt = $("#search_txt").val();

        var url = "/account/transactions?pageNum=" + num + "&search_type=" + search_type + "&country_id=" + country_id + "&search_txt=" + search_txt;
  
        window.location.href = url;        
    }

    //파라미터 값 얻기
function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
    results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

   

</script>
 
<style>

    .spinner {
        position: fixed;
        z-index: 1031;
        top: 50%;
        left: 50%;
    }
    
    [role="main"] {
        padding-top: 133px; /* Space for fixed navbar */
    }
    
    @media (min-width: 768px) {
        [role="main"] {
        padding-top: 72px; /* Space for fixed navbar */
        }
    }

    .bd_pg{text-align:center}
    .bd_pg a,.bd_pg strong{display:inline-block;min-width:12px;height:24px;padding:0 6px;border:1px solid transparent;border-radius:0px;font:700 12px/2em Tahoma,AppleGothic,sans-serif;letter-spacing:-1px;*display:inline;*zoom:1}
    .bd_pg a{color:#558421;text-decoration:none !important}
    .bd_pg .this,.bd_pg a:hover,.bd_pg a:focus{background:#F9F9F9;border-color:#AAA;color:#555}
    .bd_pg .frst_last{color:#555}
    .bd_pg .direction{margin:0 4px;color:#555;letter-spacing:0;font-weight:400}
    .bd_pg strong.direction{color:#999}
    .bd .bd_go_page{left:-47px;padding:8px 2px;border-color:#AAA;*vertical-align:top}
    .bd_go_page .itx,.bd_go_page .bd_btn{height:24px;margin:0 6px;padding:2px 8px;text-align:center;vertical-align:middle}
    .bd_go_page .itx{width:32px;padding:2px 8px
    }

    .custom-popover {
        height: 50px;
        overflow-y: auto;
    }
    .custom-popover li {
        border: none!important;
        text-align: center;
    }

    .custom-popover li:nth-child(2) {
    border-top: 1px solid #ccc!important;
    }

    .custom-popover li:last-child {
    border-top: 1px solid #ccc!important;
    }
    </style>
</body>
</html>