<!DOCTYPE html>
<html lang="en" >

<head>
  <%- include ('./layout/head.ejs') -%>

  <!-- // AUTOIN.inc landing -->
  <link href="/main/css/landing/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <link href="/main/css/landing/landing-page.min.css" rel="stylesheet" />
  <link href="/main/css/landing/landing-page.css" rel="stylesheet" />

  <!-- Google geo chart-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

  <script src="/assets/js/core/popper.min.js"></script>
  <script src="/assets/js/core/bootstrap.min.js"></script>
  <script src="/assets/js/slider/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/assets/css/style.min.css" rel="stylesheet"/>
  <link href="/css/main.css" rel="stylesheet" />


  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
<div class="container-scroller">
  <!-- partial:partials/_horizontal-navbar.html -->
  <%- include ('./layout/header.ejs') -%>
  <!-- partial -->

  <div class="container-fluid page-body-wrapper" >
    <!-- 메인 검색 페이지-->
    <div class="main-panel">

      <!-- 여기서부터~ 민트색 바탕을 가진 검색창 부분 -->
      <div class="content-wrapper" style="background-color:#4FC2A5;">
        <div class="row" style=" width: 100%; height: 40% !important; ">
          <div class="content-wrapper" style="text-align: center !important;">
            <h3 style="display: inline-block; margin-top: 7%;color: #ffffff">
              <strong>DATABASE FOR GLOBAL AUTOMOTIVE INDUSTRY</strong>
            </h3>
            <br>
            <!-- 여기서부터~  What data of automotive company do you need? 긴 검색창 부분 -->
            <div class="form-group" style="display: inline-block;">
              <div class="form-inline">
                <div class="input-group  input-group-lg" style="width: 25cm; ">
                  <input type="text" id="search_txt" class="form-control" placeholder="What data of automotive company do you need?" aria-describedby="button-addon4"
                         style="text-align: center" onKeyDown="onKeyDown();" >
                  <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary" type="button" style="background-color: #317376; color: #ffffff;" onClick="search('1');">
                      <i class="mdi mdi-magnify btn-icon-prepend mdi-18px"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- ~여기까지 -->
            <br>
            <!-- 여기서부터~  country 선택 -->
            <div class="form-group" style="display: inline-block; width: 200px">
              <select name="country_id" class="form-control" id="country_id">
                <option value="">- ALL Country -</option>

                <% if (model.countries) { %>
                  <% if (model.countries.length > 0) { %>
                    <% for(let i=0; i<model.countries.length; i++) { %>
                    <option id=<%=model.countries[i].id %> value=<%=model.countries[i].id %>><%=model.countries[i].country_name %></option>
                <%  } } }  %>
              </select>
            </div>
            <!-- ~여기까지 -->
            <!-- 여기서부터~  business nature 선택 -->
            <div class="form-group" style="display: inline-block; width: 400px;" >
              <select name="search_bn" class="form-control" id="search_bn">
                <option value="">- ALL Business Nature -</option>
                <option value="1">Manufacturer</option>
                <option value="2">Dealer, agent, distributor, wholesaler</option>
                <option value="3">Retailer</option>
                <option value="4">Service supplier(Auto refitter / tuner / garage / workshop)</option>
                <option value="5">Private & official fleetts</option>
                <option value="6">Trade associations/government agencies</option>
                <option value="7">Publisher</option>
                <option value="8">Research institutions / universities / polytechnic</option>
                <option value="9">Others</option>
              </select>
            </div>
            <!-- ~여기까지 -->
            <!-- 여기서부터~  product group 선택 -->
            <div class="form-group" style="display: inline-block; width: 200px; margin-bottom: 100px;" >
              <select name="search_pg" class="form-control" id="search_pg">
                <option value="">- ALL Product Group -</option>
                <option value="1">Commercial Vehicle</option>
                <option value="2">Passenger Vehicle</option>
                <option value="3">OEM</option>
                <option value="4">Aftermarket</option>
              </select>
            </div>
            <!-- ~여기까지 -->
            <br>
            <!-- 여기서부터~  아래에 정보 나오는 부분 -->
            <div class="form-group" style="display: inline-block; margin: 0 !important;">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="color: #ffffff; float:left; margin-right: 20px !important;">
                <div class="features-icons-icon d-flex">
                  <i class="icon-speedometer m-auto text-primary" style="color: #ffffff !important;"></i>
                </div>
                <h3><span><%= comma(model.company[0].cnt) %></span></h3>
                <p class="lead mb-0">Registered companies</p>
              </div>
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3" style="color: #ffffff; float: left; margin-right: 20px !important;" >
                <div class="features-icons-icon d-flex">
                  <i class="icon-layers m-auto text-primary" style="color: #ffffff !important;"></i>
                </div>
                <h3><span><%= comma(model.category[0].cnt) %></span></h3>
                <p class="lead mb-0">Detailed Categories</p>
              </div>
              <div class="features-icons-item mx-auto mb-0 mb-lg-3" style="color: #ffffff; float:left; margin-right: 20px !important;">
                <div class="features-icons-icon d-flex">
                  <i class="icon-globe m-auto text-primary" style="color: #ffffff !important;"></i>
                </div>
                <h3><span> <%= comma(model.countriesCnt) %></span></h3>
                <p class="lead mb-0">Country</p>
              </div>
            </div>
            <!-- ~여기까지 -->
            <br>
          </div>

        </div>
      </div>
      <!-- 여기서부터~ 하단 정보 부분-->
      <div class="content" style="background-color: #ffffff; margin-top: 40px; margin-bottom:50px; margin-right: 10%; margin-left: 10%;" >
        <h3 style="text-align: center; color: #317376; margin-top: 30px; margin-bottom: 30px">
          <strong>Current Data Ranking</strong>
        </h3>

        <div class="row">

          <!-- 데이터베이스 - recently_viewed 테이블 정렬-->
          <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">VIEWS
                  <br>
                  <small style="font-size: 12px; color: #6b6d7d">Cumulative Company Search Base</small>
                </h5>
                <%if(model.inquery.length > 0 ) { %>
                  <% for(var i=0; i<model.inquery.length; i++) { %>
                    <strong><%= i+1 %></strong>
                    <a href='/company/detail/<%= model.inquery[i].companyId %>?first=1' style="color: #317376;">
                      <span data-toggle="tooltip" data-placement="left" title="<%= model.inquery[i].name_eng %>">
                        <%= model.inquery[i].name_eng %></span>
                    </a>
                    <br>
                  <% } %>
                <% } else { %>
                  No data to display.
                <%}%>

              </div>
            </div>
          </div>

          <!-- 데이터베이스 - purchaseproduct 테이블 정렬-->
          <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">POPULAR
                  <br>
                  <small style="font-size: 12px; color: #6b6d7d">Cumulative Data Purchase Base</small>
                </h3>
                <%if(model.product.length > 0 ) { %>
                  <% for(var i=0; i<model.product.length; i++) { %>
                    <strong><%= i+1 %></strong>
                    <a href='/company/detail/<%= model.product[i].companyId %>?first=1' style="color: #317376;">
                      <span data-toggle="tooltip" data-placement="left" title="<%= model.product[i].name_eng %>">
                       <%= model.product[i].name_eng %></span>
                    </a>
                    <br>
                  <% } %>
                <% } else { %>
                  No data to display.
                <%}%>

              </div>
            </div>
          </div>

          <!-- 데이터베이스 - company 테이블 updatedAt 정렬-->
          <div class="col-lg-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">UPDATE
                  <span class="badge badge-pill badge-primary">update</span>
                  <br>
                  <small style="font-size: 12px; color: #6b6d7d">Cumulative Update Data Base</small>
                </h3>
                <%if(model.update.length > 0 ) { %>
                  <% for(var i=0; i<model.update.length; i++) { %>
                    <strong><%= i+1 %></strong>
                    <a href='/company/detail/<%= model.update[i].id %>?first=1' style="color: #317376;">
                      <span data-toggle="tooltip" data-placement="left" title="<%= model.update[i].name_eng %>">
                      <%= model.update[i].name_eng %></span>
                    </a>
                    <br>
                  <% } %>
                <% } else { %>
                  No data to display.
                <%}%>
              </div>
            </div>
          </div>

        </div> <!-- ~여기까지 -->

      </div>


      <!-- </div> -->
      <!-- </div> -->
      <%- include ('./layout/footer.ejs') -%>
      <!-- partial -->
      <!-- page-body-wrapper ends -->
    </div>   <!-- main-panel ends -->

  </div>

</div>
<!-- container-scroller -->
</body>

<script>

  var array = [];
  var countryMap = {};
  var countriesList = JSON.parse(htmlDecode("<%= JSON.stringify(model.countries) %>"));

  $("document").ready(function() {


    //지도 값 설정
    for(var i=0; i<countriesList.length; i++) {
      var img = '<div style="padding:5px"><img src="/img/flag/' + countriesList[i].code + '.png" >&nbsp;&nbsp;' + comma(countriesList[i].count) +'</div>'
      array.push([countriesList[i].country_name, countriesList[i].count, img]);
      countryMap[countriesList[i].country_name] = countriesList[i].id;
    }

    google.charts.load('current', {
      'packages': ['geochart'],
      'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMap);

  });

  //검색 버튼 이벤트
  function search(num) {

    var search_type = $("#search_type").val() || 1;
    var country_id= $("#country_id").val();
    var search_txt = $("#search_txt").val();
    var search_bn = $("#search_bn").val();
    var search_pg = $("#search_pg").val();
    var search_cate = "";
    var categoryText = "";

    var url = "/company/search?pageNum=1" + "&search_type=" + search_type + "&country_id=" + country_id + "&search_txt=" + search_txt +
            "&search_bn=" + search_bn + "&search_pg=" + search_pg + "&search_cate=" + search_cate + "&categoryText=" + categoryText;

    window.location.href = url;
  }


</script>
</html>
