<!DOCTYPE html>
<html lang="en" >

<head>
<%- include ('../layout/head.ejs') -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div class="container-scroller">
    <%- include ('../layout/header.ejs') -%>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper" style="padding-left: 15px; padding-right: 15px; background-color: #f0f3f6;">
            <div class="row">
              <div class="col-sm-8 offset-sm-2 grid-margin d-flex stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                      <h4 class="card-title">1:1 Inquiry</h4>
                      
                          <div class="row">
                            <div class="col-12 stretch-card">
                                
                                    <form class="forms-sample" style="width: 100%;" id="qnaForm" name="qnaForm" action="/info/addQna" method="POST" enctype="multipart/form-data">
                                      <input type="hidden" name="path" value="<%= path %>">
                                      <div class="form-group">
                                        <label for="exampleInputName1"><span class="text-danger">*</span>E-mail</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="E-mail" value="<%= userObj.email %>">
                                      </div>
                                    
                                     
                                      <div class="form-group">
                                          <div class="row">
                                              <div class="col-md-6">
                                        <label for="exampleSelectGender"><span class="text-danger">*</span>Type</label>
                                          <select class="form-control" id="type" name="type" onchange="changeType();">
                                            <option value="">-- selection --</option>
                                            <!-- <option value="1">Pay for a credit report</option> -->
                                            <option value="2">Request to add New company</option>
                                            <option value="3">Request to modify existing company information</option>
                                            <option value="4">Etc</option>
                                          </select>
                                        </div>
                                        <div id="div" class="col-md-6" style="display: none;">
                                            <label for="exampleSelectGender"><span class="text-danger">*</span>Company Name</label>
                                            <div class="input-group">
                                                <input type="hidden" id="companyId" name="companyId" >
                                                <input type="text" class="form-control" id="companyName" name="companyName" style="padding: .4375rem .75rem;" readonly>
                                                <button type="button" class="btn btn_" style="background: cadetblue; color:white; margin-right: 3px;" onclick="openModal('companyName', 'companyId');"><i class="fa fa-search"></i></button>
                                                <button type="button" class="btn btn_" style="background: cadetblue; color:white; " onclick="reset_data();">Reset</button>
                                              </div>
                                        </div>
                                        </div>
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleInputName1"><span class="text-danger">*</span>Title</label>
                                        <input type="text" class="form-control" id="title" name="title" >
                                      </div>
                                      <div class="form-group">
                                        <label for="exampleTextarea1"><span class="text-danger">*</span>Contents</label>
                                        <textarea class="form-control" id="contents" name="contents" rows="15"></textarea>
                                      </div>
                                      <div class="form-group">
                                        <label>File upload</label>
                                        <input type="file" id="file_" name="file_" class="file-upload-default">
                                        <div class="input-group col-xs-12">
                                          <input type="text" id="info" class="form-control file-upload-info" disabled placeholder="Max File size: 3MB">
                                          <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-warning" type="button">Upload</button>
                                          </span>
                                        </div>
                                      </div>
                                      <div class="form-group text-center">
                                      <button type="button" class="btn btn-primary mr-2" onclick="check();">Submit</button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include ('../layout/footer.ejs') -%>
        </div>
      </div>
    </div>
<script>

$("document").ready(function() { 

  //파일 형식 체크
  $("form").on("change", ".file-upload-default", function(){ 

      var fileext = $(this).val();
      fileext = fileext.slice(fileext.indexOf(".") + 1);
      fileext = fileext.toLowerCase();

      // 사이즈체크
        var maxSize  = 3 * 1024 * 1024    //3MB
        var fileSize = 0;

        // 브라우저 확인
        var browser=navigator.appName;
        
        // 익스플로러일 경우
        if (browser=="Microsoft Internet Explorer")
        {
          var oas = new ActiveXObject("Scripting.FileSystemObject");
          fileSize = oas.getFile( file.value ).size;
        }
        // 익스플로러가 아닐경우
        else
        {
          fileSize =  document.qnaForm.file_.files[0].size;
        }

        if(fileSize > maxSize)
        {
            alert("Uploaded file size is too large (Max 3MB).");
            $(this).parent(".form-control file-upload-info").attr("data-text", "");
            $("#info").val("");
            return;
        }

      $(this).parent(".form-control file-upload-info").attr("data-text", $(this).val().replace(/.*(\/|\\)/, '') );
  });
});

    function changeType() {

        var type = $("#type").val();

        //기업 신용 레포트 조회
        if (type == "1" || type == "3") {
            document.getElementById('div').style.display = 'block';
        } else {
            document.getElementById('div').style.display = 'none';
            $("#companyId").val('');
            $("#companyName").val('');
        }
    }

    function openModal(inputNm_id, inputCom_id) {
        var url = "/company/modalList?pageNum=1&search_type=1&inputNm_id=" + inputNm_id + "&inputCom_id=" + inputCom_id;
        var name = "search";
        var option = "width = 988, height = 758, top = 100, left = 150, location = no"
        window.open(url, name, option);
      }

      //로그인 체크부터
  function check() {

    $.ajax({
          type: "POST",
          url: "/user/loginCheck",
          dataType: "json",
          data: {url: '/info/qnaForm'},
          success: function (data) {
              if(data.result) {
                add();
              } else {
                if (confirm('Sign in is required. You will be moved to sign in page.')) {
                  window.location.href = data.fullUrl;
                }
              }
          },
          error: function (e) {
              alert(e.responseJSON.msg)
          }
      });

  }

    function add() {

        var email = $("#email").val();
        var type = $("#type").val();
        var companyId = $("#companyId").val();
        var title = $("#title").val();
        var contents = $("#contents").val();

        var exptext = /^[A-Za-z0-9_\.\-]+@[A-Za-z0-9\-]+\.[A-Za-z0-9\-]+/;
        if (email == '' || !exptext.test(email)) { 
            alert("Please provide a valid Email!");
            $("#email").focus();
            return;
        }
        if (type == '') { 
            alert("Please select a valid type!");
            $("#type").focus();
            return;
        }
        if (type == '1' || type == "3") {
            if (companyId == '') {
                alert("Please select a company!");
                $("#companyId").focus();
                return;
            }
        }
        if (title == '') { 
            alert("Please provide a valid title!");
            $("#title").focus();
            return;
        }
        if (contents == '') { 
            alert("Please provide a valid contents!");
            $("#contents").focus();
            return;
        }

        var form = $('#qnaForm')[0];
        var formData = new FormData(form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/info/qnaAdd",
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
              alert('Successfully saved!');
              window.location.href = '/info/qnaForm'
            },
            error: function (e) {
                alert("error!")
            }
        });
    }

    function reset_data() {
      $("#companyId").val('');
      $("#companyName").val('');
    }

</script>
 
</body>
</html>