<!DOCTYPE html>
<html lang="en" >

<head>
<%- include ('../layout/head.ejs') -%>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
  <div class="container-scroller">

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel" style="padding-top: 0;">
          <div class="content-wrapper" style="padding-left: 15px; padding-right: 15px; background-color: #f0f3f6;">
              <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                      <div class="mr-md-3 mr-xl-5">
                        <h2>company selection</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <input type="hidden" id="inputNm_id" >
                      <input type="hidden" id="inputCom_id" >
                      <div class="form-inline">
                        <div class="form-group">
                          <select id="country_id" name="country_id" class="form-control mb-2 mr-sm-2" >
                              <option value="" selected>- ALL Country -</option>
                              <%         
                                  if (model.countriesList.length > 0) { %> 
                                  <% for(let i=0; i<model.countriesList.length; i++) {        
                              %> 
                              <option id=<%=model.countriesList[i].id %> value=<%=model.countriesList[i].id %>><%=model.countriesList[i].country_name %></option>                 
                              <%  }}  %>
                          </select>
                        </div>
                        <div class="form-group">
                          <select name="search_bn" class="form-control mb-2 mr-sm-2" id="search_bn">
                            <option value="">- ALL Business Nature -</option>
                            <option value="1">Manufacturer</option>
                            <option value="2">Dealer, agent, distributor, wholesaler</option>
                            <option value="3">Retailer</option>
                            <option value="4">Service supplier(Auto refitter / tuner / garage / workshop)</option>
                            <option value="5">Private & official fleetts</option>
                            <option value="6">Trade associations/government agencies</option>
                            <option value="7">Publisher</option>
                            <option value="8">Research institutions / universities / polytechnic</option>
                            <option value="9">Others</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <select name="search_pg" class="form-control mb-2 mr-sm-2" id="search_pg">
                            <option value="">- ALL Product Group -</option>
                            <option value="1">Commercial Vehicle</option>
                            <option value="2">Passenger Vehicle</option>
                            <option value="3">OEM</option>
                            <option value="4">Aftermarket</option>
                          </select>
                        </div>
                      </div>
                      
                        <div class="form-group" style="margin-bottom: 1rem;">
                          <div class="input-group">
                            <input type="hidden" name="search_cate" id="search_cate" >
                            <input class="form-control " id="categoryText" name="categoryText" type="text" placeholder="Category" >
                            <div class="input-group-append">
                              <button class="btn btn-sm btn-danger" type="button" onclick="removeCategory();">X</button>
                            </div>
                          </div>
                        </div>
                      
                        <div class="form-group" style="margin-bottom: 1rem;">
                      <div class="form-inline">
                        <select id="search_type" class="form-control mb-2 mr-sm-2" name="search_type">
                            <option value="1" selected>ALL</option>
                            <option value="2" >COMPANY</option>
                            <option value="3" >CEO</option>
                            <option value="4" >MAIN_PRODUCT</option>
                        </select>
                        <input id="search_txt" type="text" class="form-control mb-2 mr-sm-2" aria-describedby="button-addon5" onKeyDown="onKeyDown();">
                          <button type="button" class="btn btn-primary mb-2" style="background-color: #317376;" onClick="search('1');">Search</button>
                    </div>
                  </div>
                          
                      <p class="card-description">
                          Total <code><%=model.totalCount %></code >
                      </p>
                      <div class="table-responsive bd_pg" >
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th>Country</th>
                              <th>Company</th>
                              <th>CEO</th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody id="tbd">	                                        
                              <%         
                              if (model.contents.length > 0) { %> 
                                  <% for(let i=0; i<model.contents.length; i++) {        
                              %> 
                              <tr>   
                                  <th><%=model.contents[i].country_name %></th>
                                  <th><%=model.contents[i].name_eng %></th>
                                  <th><%=model.contents[i].ceo %></th>
                                  <th><a class="btn" href="javascript:void(0);" onclick="sel('<%=model.contents[i].id %>', '<%=model.contents[i].name_eng %>');"><i class="fas fa-check-square"></i></a></th>
                              </tr>                   
                              <%  
                              }
                              } else {  %> 
                                  <tr>   
                                      <th colspan="5">데이터가 없습니다.</th>
                                  </tr> 
                                  <% } %> 	
                            </tbody>	
                        </table>
                        <br>
                        <% if (model.contents.length != 0) { %>
                          <div class="col-lg-12" style="text-align:center;">
                            <ul class="pagination">
                              <li <%if(model.pageNum == 1){%> class="disabled" <%}else{%> class="direction" <%}%> >
                                  <a <%if(model.pageNum > 1){%> href="javascript:search(1);" <%}%>><i class="fas fa-angle-double-left"></i></a>
                              </li>
                              <li <%if(model.pageNum == 1){%> class="disabled" <%}else{%> class="direction" <%}%> >
                               <a <%if(model.pageNum > 10){%> href="javascript:search(<%=model.pageNum-1%>);" <%} %> >
                                 <i class="fa fa-angle-left"> </i>
                               </a>
                             </li>
                              <% for(var i=model.pnStart; i<=model.pnEnd; i++){ %> <li <%if(i==model.pageNum){%> class="active"
                                <%}%>><a class="frst_last bubble <% if (i == model.pageNum) { %> this <% } %>" href="javascript:search(<%=i%>);"><%=i%></a></li>
                              <% } %>
                              <li <%if(model.pageNum == model.pnTotal){%> class="disabled" <%}else{%> class="direction" <%}%>>
                                  <a <%if(model.pageNum < model.pnTotal){%> href="javascript:search(<%=model.pageNum+1%>);" <%}%> class="waves-effect">
                                      <i class="fa fa-angle-right"></i>
                                  </a>
                              </li>
                              <li <%if(model.pageNum == model.pnTotal){%> class="disabled" <%}else{%> class="direction" <%}%>>
                                  <a <%if(model.pageNum < model.pnTotal){%> href="javascript:search(<%=model.pnTotal%>);" <%}%> class="waves-effect">
                                      <i class="fas fa-angle-double-right">  </i>
                                  </a>
                              </li>
                              <li><p class="card-description">
                                  <code><%=model.pageNum%></code> &nbsp;/ &nbsp;<%=model.pnTotal%>
                              </p></li>
                           </ul>
                          </div>
                          <% } %> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<script>

  var oldVal;
  var arr = [];

    $("document").ready(function() {  

      //초기화
      $("#categoryText").autocomplete({source: arr});

      //파라미터 값 설정
      if (getParameterByName("country_id") != "") {
          $("#country_id").val(getParameterByName("country_id"))
      }

      if (getParameterByName("search_bn") != "") {
          $("#search_bn").val(getParameterByName("search_bn"))
      }

      if (getParameterByName("search_pg") != "") {
          $("#search_pg").val(getParameterByName("search_pg"))
      }

      if (getParameterByName("search_cate") != "") {
          $("#search_cate").val(getParameterByName("search_cate"));
          $("#categoryText").attr('readonly', true);
      }

      if (getParameterByName("categoryText") != "") {
          $("#categoryText").val(getParameterByName("categoryText"))
      }

      if (getParameterByName("search_type") != "") {
          $("#search_type").val(getParameterByName("search_type"))
      }

      if (getParameterByName("search_txt") != "") {
          $("#search_txt").val(getParameterByName("search_txt"))
      }

      if (getParameterByName("inputNm_id") != "") {
          $("#inputNm_id").val(getParameterByName("inputNm_id"))
      }

      if (getParameterByName("inputCom_id") != "") {
          $("#inputCom_id").val(getParameterByName("inputCom_id"))
      }

      //카테고리 입력 이벤트
      $("#categoryText").on("propertychange change keyup paste input", function() {

        var currentVal = $(this).val();
        if(currentVal == oldVal) {
            return;
        } 
    
        oldVal = currentVal;
        arr = [];
        
        if (currentVal != '') {

          $.ajax({
            type: "POST",
            url: "/category/getlist",
            dataType: 'json',
            data: { 'query': oldVal },
            success: function (data) {

                for (var i=0; i<data.data.length; i++) {
                  
                  var id = "";
                  if (data.data[i].depth == 4) {
                      id = data.data[i].p1_id + "$" + data.data[i].p2_id + "$" + data.data[i].p3_id + "$" + data.data[i].id
                  }
                  if (data.data[i].depth == 3) {
                      id = data.data[i].p2_id + "$" + data.data[i].p3_id + "$" + data.data[i].id
                  } 
                  if (data.data[i].depth == 2) {
                    id = data.data[i].p3_id + "$" + data.data[i].id
                  } 
                  if (data.data[i].depth == 1) {
                    id = data.data[i].id
                  } 
                      var p1 = (data.data[i].p1_name != undefined) ? data.data[i].p1_name: '';
                      var p2 = (data.data[i].p2_name != undefined) ? data.data[i].p2_name: '';
                      var p3 = (data.data[i].p3_name != undefined) ? data.data[i].p3_name: '';
                      var parents = "";
                      if (p1 != '') parents += (p1 + " > ")
                      if (p2 != '') parents += (p2 + " > ")
                      if (p3 != '') parents += (p3 + " > ")

                      arr.push({ value: id, label: parents + data.data[i].category_name})
                }

                $("#categoryText").autocomplete({

                    source: arr,
                    select: function(event, ui) {
                      $("#categoryText").val(ui.item.label); // display the selected text
                      $("#search_cate").val(ui.item.value); // display the selected text
                      $("#categoryText").attr('readonly', true);
                      return false;
                    },

                    focus: function(event, ui) {
                        return false;
                    }
                });
                    
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
        } else {
          $("#search_cate").val("");
        }
          
    });
    });
    
    function onKeyDown()
    {
        if(event.keyCode == 13){
            search('1');
        }
    }

    function sel(id, name_eng) {
        var inputNm_id = $("#inputNm_id").val();
        var inputCom_id = $("#inputCom_id").val();
        opener.document.getElementById(inputNm_id).value = name_eng;
        opener.document.getElementById(inputNm_id).classList.add('select_company');
        opener.document.getElementById(inputCom_id).value = id;
        window.close();
    }

    function removeCategory() {
      $("#categoryText").val(""); // display the selected text
      $("#search_cate").val(""); // display the selected text
      $("#categoryText").attr('readonly', false);
    }


    function search(num) {
        var search_type = $("#search_type").val();
        var country_id= $("#country_id").val();
        var search_txt = $("#search_txt").val();
        var search_bn = $("#search_bn").val();
        var search_pg = $("#search_pg").val();
        var search_cate = $("#search_cate").val();
        var categoryText = $("#categoryText").val();
        var inputNm_id = $("#inputNm_id").val();
        var inputCom_id = $("#inputCom_id").val();
      
        var url = "/company/modalList?pageNum=" + num + "&search_type=" + search_type + "&country_id=" + country_id + "&search_txt=" + search_txt + 
              "&search_bn=" + search_bn + "&search_pg=" + search_pg + "&search_cate=" + search_cate + "&categoryText=" + categoryText + "&inputNm_id=" + inputNm_id + "&inputCom_id=" + inputCom_id;

        window.location.href = url;        
    }

</script>
 
<style>


    /* Pagnation */
    .bd_pg{padding:24px 0;text-align:center}
    .bd_pg a,.bd_pg strong{display:inline-block;min-width:12px;height:24px;padding:0 6px;border:1px solid transparent;border-radius:0px;font:700 12px/2em Tahoma,AppleGothic,sans-serif;letter-spacing:-1px;*display:inline;*zoom:1}
    .bd_pg a{color:#558421;text-decoration:none !important}
    .bd_pg .this,.bd_pg a:hover,.bd_pg a:focus{background:#F9F9F9;border-color:#AAA;color:#555}
    .bd_pg .frst_last{color:#555}
    .bd_pg .direction{margin:0 4px;color:#555;letter-spacing:0;font-weight:400}
    .bd_pg strong.direction{color:#999}
    .bd .bd_go_page{left:-47px;padding:8px 2px;border-color:#AAA;*vertical-align:top}
    .bd_go_page .itx,.bd_go_page .bd_btn{height:24px;margin:0 6px;padding:2px 8px;text-align:center;vertical-align:middle}
    .bd_go_page .itx{width:32px;padding:2px 8px}
    
    .ui-autocomplete {
      max-height: 200px;
      width: auto;
      overflow-y: auto;
      overflow-x: hidden;
      padding-right: 20px;
    } 
    </style>

</body>
</html>
