<!DOCTYPE html>
<html lang="en" >

<head>
<%- include ('../../layout/head.ejs') -%>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <div class="container-scroller">
    <%- include ('../../layout/header.ejs') -%>

    <div class="container-fluid page-body-wrapper">
        <div class="main-panel">
          <div class="content-wrapper" style="padding-left: 15px; padding-right: 15px; background-color: #f0f3f6;">
            <div class="row">
              <div class="col-sm-10 offset-sm-1 grid-margin d-flex stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                      <h4 class="card-title mb-2"></h4>
                    </div>
                    <div>
                      <ul class="nav nav-tabs tab-no-active-fill" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/setting">My Account</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Purchase list</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/account/purchaseList">Company information</a>
                            <a class="dropdown-item" href="/account/creditReportList">Credit report</a>
                            <a class="dropdown-item" href="/account/subscriptionList">Subscription</a>
                          </div>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/wishList">Wishlist</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/transactions">Coin details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link pl-2 pr-2" href="/account/payList">Payment details</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link  active  pl-2 pr-2 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">1:1 Inquiry</a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="/account/qna/list">List</a>
                            <a class="dropdown-item" href="/info/qnaForm">Ask</a>
                          </div>
                        </li>
                      </ul>
                      <div class="tab-content tab-no-active-fill-tab-content">
                        <div class="tab-pane fade show active">
                          <div class="row">
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                  <div class="card-body">
                                    <h4 class="card-title">1:1 Inquiry View</h4>
                                    <p class="card-description">
                                    </p>
                                    <table class="table table-bordered">
                                      <colgroup>
                                          <col style="width:20%;">
                                      </colgroup>
                                      <thead class="thead-default">
                                        <tr>
                                          <th>E-mail</th>
                                          <th><%= data[0].email %></th>
                                        </tr>
                                      <tr>
                                        <th>Status</th>
                                        <th><% if (data[0].status == 0) { %> <label class="badge badge-info">Waiting</label> <% } %>
                                          <% if (data[0].status == 1) { %> <label class="badge badge-success text-white">Complete</label> <% } %></th>
                                      </tr>
                                      <tr>
                                        <th>Type</th>
                                        <th>
                                          <% if (data[0].type == 2) { %> Request to add New company <% } %>
                                          <% if (data[0].type == 3) { %> Request to modify existing company information ( <%= data[0].name_eng %> ) <% } %>
                                          <% if (data[0].type == 4) { %> Etc <% } %>
                                        </th>
                                      </tr>
                                      <tr>
                                        <th>Title</th>
                                        <th><%= data[0].title %></th>
                                      </tr>
                                      <tr>
                                        <th>Contents</th>
                                        <th><%= data[0].contents %></th>
                                      </tr>
                                      <% if (data[0].filename != '') { %>
                                      <tr>
                                        <th>File</th>
                                        <th><a href="/account/qna/download/<%= data[0].id %>"><%= data[0].filename %></a></th>
                                      </tr>
                                      <% } %>
                                      </thead>
                                  </table>
                                  <br><br>
                                  <% if (data[0].status == 1) { %>
                                  <p class="card-description">
                                    <strong>Answer</strong> 
                                  </p>
                                  <table class="table table-bordered">
                                    <colgroup>
                                        <col style="width:20%;">
                                    </colgroup>
                                    <thead class="thead-default">
                                    <tr>
                                      <th style="vertical-align: middle">Title</th>
                                      <th>
                                        <% if(answerdata != undefined) {%>
                                        <%= answerdata[0].title %>
                                        <% } %>
                                      </th>
                                    </tr>
                                    <tr>
                                      <th style="vertical-align: middle">Contents</th>
                                      <th>
                                        
                                          <% if(answerdata != undefined) {%>
                                            <%- answerdata[0].contents %>
                                          <% } %>
                                      </th>
                                    </tr>
                                    <% if (answerdata[0].filename != '') { %>
                                    <tr>
                                      <th style="vertical-align: middle">File</th>
                                      <th>
                                        <a href="/account/qna/answerDownload/<%= answerdata[0].id %>"><%= answerdata[0].filename %></a>
                                      </th>
                                    </tr>
                                    <% } %>
                                    </thead>
                                </table>
                                <% } %>
                                  </div>
                                </div>
                              </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%- include ('../../layout/footer.ejs') -%>
        </div>
      </div>
    </div>
<script>

    $("document").ready(function() {

    });

    function changeType() {

        var type = $("#type").val();

        //기업 신용 레포트 조회
        if (type == "1") {
            document.getElementById('div').style.display = 'block';
        } else {
            document.getElementById('div').style.display = 'none';
            $("#companyId").val('');
            $("#companyName").val('');
        }
    }

    function openModal(inputNm_id, inputCom_id) {
        var url = "/company/modalList?pageNum=1&search_type=1&inputNm_id=" + inputNm_id + "&inputCom_id=" + inputCom_id;
        var name = "search";
        var option = "width = 988, height = 758, top = 100, left = 300, location = no"
        window.open(url, name, option);
      }

    function add() {

        var email = $("#email").val();
        var type = $("#type").val();
        var companyId = $("#companyId").val();
        var title = $("#title").val();
        var contents = $("#contents").val().replace(/\n/g, "<br>");
        if (email == '') { 
            alert("Please provide a valid Email!");
            $("#email").focus();
            return;
        }
        if (type == '') { 
            alert("Please select a valid type!");
            $("#type").focus();
            return;
        }
        if (type == '1') {
            if (companyId == '') {
                alert("Please select a company!");
                $("#companyId").focus();
                return;
            }
        }
        if (title == '') { 
            alert("Please provide a valid title!");
            $("#title").focus();
            return;
        }
        if (contents == '') { 
            alert("Please provide a valid contents!");
            $("#contents").focus();
            return;
        }

        $.ajax({
            type: "POST",
            url: "/account/qna/add",
            dataType: "json",
            data: { email: email, type: type, companyId: companyId, title: title, contents: contents },
            success: function (data) {
                alert(data.msg);
                window.location.href = '/account/qna/list'
            },
            error: function (e) {
                console.log("ERROR : ", e);
            }
        });
    }

    function download(path, filename) {
      $.ajax({
          type: "POST",
          url: "/account/qna/download",
          dataType: "json",
          data: {full_path: path + filename},
          success: function (data) {
          },
          error: function (e) {
              alert(e.responseJSON.msg)
          }
      });
    }

</script>
 
</body>
</html>