<!DOCTYPE html>
<html lang="en" >

<head>
    <%- include ('../../layout/head.ejs') -%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
      integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>

    <div class="container-scroller">
        <%- include ('../../layout/header.ejs') -%>
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_sidebar.html -->
          <%- include ('../../layout/side.ejs') -%>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">

              <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body dashboard-tabs p-0">
                      <ul class="nav nav-tabs px-4" role="tablist">
                        <li class="nav-item">
                          <a class="nav-link active" id="1tab" href="/admin/rating/ratingItem/1">Credit Rating</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" id="2tab" href="/admin/rating/ratingItem/2" >Cash Flow Rating</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="3tab" href="/admin/rating/ratingItem/3" >Watch Rating</a>
                          </li>
                      </ul>
                      <div class="tab-content py-0 px-0">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                          <div class="row">
                            <!-- Modal -->
                            <div class="modal fade" id="delCheckModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">정말 삭제하시겠습니까?</h5>
                                  <input type="hidden" id="id" name="id" value="">
                                  <input type="hidden" id="fileName" name="fileName" value="">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                  <button type="button" class="btn btn-danger" onclick="delBtn();">삭제</button>
                                </div>
                              </div>
                            </div>
                            </div>
                            <div class="col-lg-12 grid-margin stretch-card">
                              <div class="card">
                                  <div class="card-body">
                                    <div class="d-flex justify-content-between flex-wrap">
                                      <div class="d-flex align-items-end flex-wrap">
                                        <div class="mr-md-3 mr-xl-5">
                                          <h2></h2>
                                        </div>
                                      </div>
                                     <button class="btn btn-primary mt-2 mt-xl-0" onclick="location.href='/admin/rating/addForm/<%= type %>'">등록</button>
                                    </div>
                                    <div class="table-responsive">
                                      <input type="hidden" id="type" name="type" value="<%= type %>" >
                                        <table class="table" id='table'>
                                        <thead>
                                            <tr>
                                            <th style="width: 40%;">이름</th>
                                            <th class="text-center" style="width: 10%;">color</th>
                                            <th class="text-center" style="width: 10%;">사용여부</th>
                                            <th class="text-center" style="width: 15%;">순서<a href="javascript:modOrder();" class="btn btn-light">변경</a></th>
                                            <th style="width: 8%;"></th>
                                            <th style="width: 8%;"></th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbd">
                                            <%         
                                            if (model.list.length > 0) { %> 
                                                <% for(let i=0; i<model.list.length; i++) {        
                                            %> 
                                            <tr id="<%=model.list[i].id %>">   
                                                <% var text = 'color: ' %>
                                                <th><%=model.list[i].name %> <% if(model.list[i].subname != '') { %> (<%=model.list[i].subname %>) <% } %></th>
                                                <th class="text-center"><span style="<%=text %><%=model.list[i].color %>;"><%=model.list[i].color %></span> </th>
                                                <th class="text-center"><%=model.list[i].useYN %></th>
                                                <th class="text-center"><button type="button" class="btn" style="background: transparent; color: black;" onclick="MoveRowUp('<%=model.list[i].id %>')"><i class="fa fa-angle-up fa-lg"></i></button><button type="button" class="btn" style="background: transparent; color: black;" onclick="MoveRowDown('<%=model.list[i].id %>')"><i class="fa fa-angle-down fa-lg"></i></button></th>
                                                <th><button type="button" class="btn btn-info" onclick="modBtn('<%=model.list[i].id %>');">수정</button></th>
                                                <th><button type="button" class="open-delCheckDialog btn btn-danger" data-id="<%=model.list[i].id %>" data-toggle="modal" data-target="#delCheckModal">삭제</button></th>
                                            </tr>                   
                                            <% }} else {  %> 
                                            <tr>   
                                                <th class="text-center" colspan="5">데이터가 없습니다.</th>
                                            </tr> 
                                            <% } %> 	                                        
                                          </tbody>	 
                                        </table>
                                    </div>
            
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- partial:partials/_footer.html -->
            <%- include ('../../layout/footer.ejs') -%>
            <!-- partial -->
          </div>
        </div>
    </div>
 

    <script>

    $(document).ready(function() {

      //tab active
      var type = $("#type").val();
      $('.nav-link').removeClass('active');
      $('#' + type + 'tab').addClass('active');

      $(document).on("click", ".open-delCheckDialog", function () { 
          var id = $(this).data('id'); 
          $(".modal-header #id").val( id ); 
      });
    });
    
    function MoveRowDown(id) {
            var rows = $("#table tr");
            var row_number = document.getElementById(id).rowIndex;
            rows.eq(document.getElementById(id).rowIndex).insertAfter(rows.eq(document.getElementById(id).rowIndex + 1));
        }

    function MoveRowUp(id) {           
        var rows = $("#table tr");
        var row_number = document.getElementById(id).rowIndex;
        if (document.getElementById(id).rowIndex - 1 != 0) {
            rows.eq(document.getElementById(id).rowIndex).insertBefore(rows.eq(document.getElementById(id).rowIndex - 1));
        }
    }

    //순서 변경
    function modOrder() {

        var arr = [];

        $('#table tr').not(':first').each(function() {
            arr.push(this.id);
        })

        var data = { 'arr': arr, 'tableName': 'rating' };
        data = JSON.stringify(data);

        //content-type을 설정하고 데이터 송신
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/admin/modOrder');
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send(data);
        
        // 데이터 수신이 완료되면 표시
        xhr.addEventListener('load', function(){
          alert('완료되었습니다.');
          location.reload(true);
        });
    }

    function modUseOption(id, value) {

        var yn = (value == 'Y') ? 'N':'Y';
        var data = { 'useYN': yn };
        data = JSON.stringify(data);

        //content-type을 설정하고 데이터 송신
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/admin/homepage/modUseOption/' + id);
        xhr.setRequestHeader('Content-type', "application/json");
        xhr.send(data);

        // 데이터 수신이 완료되면 표시
        xhr.addEventListener('load', function(){
          alert('완료되었습니다.');
          location.reload(true);
        });
    }

    function modBtn(id) {
        window.location.href = '/admin/rating/modForm/' + id + '/' + $("#type").val();
    }

    function delBtn() {

      $('#delCheckModal').modal('hide');

      var data = { 'tableName': 'rating' };
      data = JSON.stringify(data);

      //content-type을 설정하고 데이터 송신
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/admin/modDelYN/' + $("#id").val());
      xhr.setRequestHeader('Content-type', "application/json");
      xhr.send(data);

      // 데이터 수신이 완료되면 표시
      xhr.addEventListener('load', function(){
        location.reload(true);
      });
    }

    </script>

</body>
</html>
