<!DOCTYPE html>
<html lang="en" >

<head>
    <%- include ('../../layout/head.ejs') -%>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/js/jquery.minicolors.js"></script>
    <link rel="stylesheet" href="/css/jquery.minicolors.css">

</head>
<body>

    <div class="container-scroller">
        <%- include ('../../layout/header.ejs') -%>
        <div class="container-fluid page-body-wrapper">
          <!-- partial:partials/_sidebar.html -->
          <%- include ('../../layout/side.ejs') -%>
          <!-- partial -->
          <div class="main-panel">
            <div class="content-wrapper">

              <div class="row">
                <div class="col-md-12 grid-margin">
                  <div class="d-flex justify-content-between flex-wrap">
                    <div class="d-flex align-items-end flex-wrap">
                      <div class="mr-md-3 mr-xl-5">
                        <h2>메인 관리</h2>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body">
                        <h4 class="card-title">수정폼</h4>
                        <form class="forms-sample" id="modForm" enctype="multipart/form-data">
                            <input type="hidden" id="id" value="<%= data[0].id %>">
                          <div class="form-group">
                            <label for="exampleInputName1">제목</label>
                            <input type="text" class="form-control" name="title" value="<%= data[0].title %>">
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label">제목 Color</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control minicolors" name="title_color" size="7" readonly value="<%= data[0].title_color %>">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label">제목 size</label>
                                <div class="col-sm-9">
                                  <input type="number" class="form-control" name="title_size" value="<%= data[0].title_size %>">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleTextarea1">내용</label>
                            <textarea class="form-control" name="contents" rows="3">
                            <%= data[0].contents %>
                            </textarea>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label">내용 Color</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control minicolors" name="contents_color" size="7" readonly value="<%= data[0].contents_color %>">
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label">내용 size</label>
                                <div class="col-sm-9">
                                  <input type="number" class="form-control" name="contents_size" value="<%= data[0].contents_size %>">
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleTextarea2">기존 파일</label>
                            <input type="text" class="form-control" value="<%= data[0].file_name_new %>" readonly>
                          </div>
                          <div class="form-group">
                            <label>새로운 파일</label>
                            <input type="file" id="new_file" name="file-upload-field" class="file-upload-default">
                            <div class="input-group col-xs-12">
                              <input type="text" id="info" class="form-control file-upload-info" disabled placeholder="Upload Image" >
                              <span class="input-group-append">
                                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                              </span>
                              <span class="input-group-append">
                                <button class="btn btn-warning" type="button" onclick="delFile();">delete</button>
                              </span>
                            </div>
                          </div>
                          <button type="button" class="btn btn-primary mr-2" onclick="mod();">수정</button>
                          <button type="button" class="btn btn-light" onclick="location.href='/homepage/main'">목록</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            <!-- partial:partials/_footer.html -->
            <%- include ('../../layout/footer.ejs') -%>
            <!-- partial -->
          </div>
        </div>
    </div>

    <script>

    $("document").ready(function() { 

      $('.minicolors').minicolors();

        //파일 형식 체크
        $("form").on("change", ".file-upload-default", function(){ 

          var fileext = $(this).val();
          fileext = fileext.slice(fileext.indexOf(".") + 1);
          fileext = fileext.toLowerCase();

          if (fileext != "jpg" && fileext != "png" && fileext != "gif" && fileext != "bmp") {
              alert('이미지 파일(jpg, png, gif, bmp) 등록 가능합니다!');
              $(this).parent(".form-control file-upload-info").attr("data-text", "");
              $("#info").val("");
              return;
          }

          $(this).parent(".form-control file-upload-info").attr("data-text", $(this).val().replace(/.*(\/|\\)/, '') );
        });
    });

    function delFile() {
      $("#new_file").val("");
      $("#info").val("");
    }

    function mod() {

        var form = $('#modForm')[0];
        var formData = new FormData(form);

        $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/admin/homepage/main/mod/" + $("#id").val(),
            data: formData,
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                window.location.href = '/admin/homepage/main'
            },
            error: function (e) {
                alert("빠진거 없는지 확인 부탁!")
            }
        });
    }
     
    </script>

</body>
</html>
